body {
    display: flex;
    background-color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}

.input_box {
    background-color: #D9D9D9;
    height: 100vh;
    width: 30vw;
    border-radius: 10px;
}

#title{
    color: #027065;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-left: 2vw;


}

#subtitle{
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;

}

#subtitle2{
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;
    font-weight: bold;
    color: #027065;

}

.input{
    border: 0px;
    border-radius: 5px;
    height: 3vh;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1vw;
    color:#333;

}

.eye_icon {
    position: absolute;
    top: 278px;
    right: 16px;
    cursor: pointer;
    border-radius: 100%;
}

.eye_button {
    cursor: pointer;
    border-radius: 100%;
    border-width: 1.5px;
}

#closed_eye {
    width: 22px;
    height: 20px;
}

#open_eye {
    width: 22px;
    height: 20px;
}

/* .extended_input {
    display: block;
    margin-left: 13px;
} */

.short_input {
    display: none;
    /* background-color: aqua;*/
}

#bot-calc{
    border-radius: 10px;
    border: 1px;
    background-color: #027065;
    color: #F2F2F2;
    height: 40px;
    width: 80px;
    margin-left: 12.5vw;
    margin-top: 2vh;
    box-shadow: #474343;
}

.btn:active {
	background-color: #333;
    color: #474343;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

#graph {
    position: relative;
    height: 100vh;
    width: 70vh;
    border: 1px solid #ccc;
}

/* svg {
	height: 750px;
    width: 100%;
} */

.svg {
    position: absolute;
    width: 70vw;
    height: 100vh;
}
