body {
    display: flex;
    background-color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.input_box {
    background-color: #D9D9D9;
    height: 100%;
    width: 30%;
    overflow-y: scroll;
}

#title {
    color: #027065;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-left: 2vw;


}

#subtitle {
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;

}

#subtitle2 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;
    font-weight: bold;
    color: #027065;

}

.input {
    border: 0px;
    border-radius: 5px;
    height: 3vh;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1vw;
    color: #333;

}

.eye_icon {
    position: absolute;
    top: 278px;
    right: 16px;
    cursor: pointer;
    border-radius: 100%;
}

.eye_button {
    cursor: pointer;
    border-radius: 100%;
    border-width: 1.5px;
}

#closed_eye {
    width: 22px;
    height: 20px;
}

#open_eye {
    width: 22px;
    height: 20px;
}


.short_input {
    display: none;
}

#bot-calc {
    background-color: rgb(2, 112, 101);
    color: rgb(242, 242, 242);
    height: 4em;
    width: 100%;
    font-weight: 800;
    margin-top: 2em;
    text-transform: uppercase;
    border-style: none;
}

#bot-calc:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(2, 112, 101);
    cursor: pointer;
}

#bot-calc:active {
    background-color: rgb(242, 242, 242, 0.75);
}

.btn:active {
    font-size: 0.75em;
}

.svg {
    position: absolute;
    width: 70vw;
    height: 100vh;
}

#graph {
    width: 70%;
}
/* #map {
    width: 50%;
    height: 500px;
} */


.mapboxgl-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mapboxgl-map {
    width: 100%;
    height: 100%;
    position: relative;
}